asgiref==3.2.7
click==7.1.2
Django==3.0.6
django-crispy-forms==1.9.1
flake8==3.8.2
mccabe==0.6.1
Pillow==8.1.1
plural-ru==2019.4.13
public==2019.4.13
pycodestyle==2.6.0
pyflakes==2.2.0
pytz==2020.1
sqlparse==0.3.1
