{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block container %}
    <div class="row mt-5">
        <div class="col-12 col-lg-4">
            <aside class="pt-3 pb-4 px-4 mb-5 card">
                <h1 class="h4 pt-2 pb-2">Моя компания</h1>
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link" href="#">1. Информация о&nbsp;компании</a>
                    <a class="nav-link active" href="#">2. Вакансии</a>
                </div>
            </aside>
        </div>
        <div class="col-12 col-lg-8">
            <div class="card">
                <div class="card-body px-4 pb-4">
                    <section class="tab-pane fade show active">
                        <h2 class="h4 pt-2 pb-3">Вакансии</h2>
                        <a href="/mycompany/vacancies/0">Создать вакансию</a>
                        {% for vacancy in vacancies %}
                            <div class="card mt-3">
                                <div class="card-body px-4">
                                    <div class="row align-items-center">
                                        <div class="col-6 col-lg-8">
                                            <a href="#" class="mb-1">{{ vacancy.title }}</a>
                                            <p class="mb-1">
                                                <span class="mr-4">{{ vacancy.salary_max }}</span><a href="#" class="text-info">{{ vacancy.applications.count }} откликов</a>
                                            </p>
                                        </div>
                                        <div class="col-6 col-lg-4 text-right">
                                            <a href="{{ vacancy.id }}" class="btn btn-outline-info">Изменить</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}
                        <!-- vacancy state 2 -->
                        {#              <div class="card mt-3">#}
                        {#                <div class="card-body px-4">#}
                        {#                  <div class="row align-items-center">#}
                        {#                    <div class="col-6 col-lg-8">#}
                        {#                      <a href="#" class="mb-1">Backend-разработчик</a>#}
                        {#                      <p class="mb-1">#}
                        {#                        <span class="mr-4">90  000</span><span class="text-muted">Нет откликов</span>#}
                        {#                      </p>#}
                        {#                    </div>#}
                        {#                    <div class="col-6 col-lg-4 text-right">#}
                        {#                      <a href="#" class="btn btn-outline-info">Изменить</a>#}
                        {#                    </div>#}
                        {#                  </div>#}
                        {#                </div>#}
                        {#              </div>#}
                        <!-- END vacancy state 2 -->
                    </section>

                </div>
            </div>
        </div>
    </div>
{% endblock %}